go 1.23.0

toolchain go1.23.4

use (
        ./host/services/api-gateway
        ./host/services/camera-proxy
        ./host/services/capture-daemon
        ./host/services/media-api
        ./host/services/overlay-hub
        ./host/services/shared
)