{% extends "base.html" %}

{% block title %}Video Dashboard{% endblock %}

{% block body %}
<div class="dash-grid">
  <section>
    {% include "partials/_upload_card.html" %}
  </section>
  <section>
    {% include "partials/_batch_card.html" %}
  </section>
  <section>
    {% include "partials/_videos_card.html" %}
  </section>
  <section>
    {% include "partials/_motion_card.html" %}
  </section>
  <section>
    {% include "partials/_preview_card.html" %}
  </section>
  <section>
    {% include "partials/_witness_card.html" %}
  </section>
</div>
{% endblock %}

{% block scripts %}
  {{ super() }}
  {# any page-specific scripts here #}
{% endblock %}